:root {
  --el-color-primary: #006aff !important;
  --el-color-primary-light-3: #427ef7 !important;
  --el-color-success: #64c253 !important;
  --el-color-success-light-3: #8ec977 !important;
  --el-color-warning: #f36c20 !important;
  --el-color-warning-light-3: #e68850 !important;
  --el-color-danger: #d23b4d !important;
  --el-color-danger-light-3: #d95363 !important;
}

.el-table {
  --el-bg-color: var(--g-bg-2) !important;
  --el-table-text-color: var(--g-text-color) !important;
  --el-table-header-text-color: var(--g-text-color) !important;
}

.el-select {
  --el-text-color-regular: var(--g-text-color) !important;
  --el-fill-color-blank: var(--g-text-color-bg) !important;
  --el-text-color-placeholder: var(--placeholder-color) !important;
  --el-border-color: var(--border-color) !important;
}

.el-input {
  --el-input-bg-color: var(--g-text-color-bg) !important;
  --el-fill-color-light: var(--g-text-color-bg) !important;
  --el-text-color-placeholder: var(--placeholder-color) !important;
  --el-border-color: var(--border-color) !important;
}

html.dark {
  --el-mask-color: rgb(16 44 78 / 80%) !important;

  .el-table {
    --el-table-header-bg-color: #102c4e !important;
    --el-table-border-color: rgb(29 60 95 / 80%) !important;
    --el-table-row-hover-bg-color: rgb(255 255 255 / 6%) !important;
  }

  .el-select {
    --el-border-color-hover: #6f8cd0 !important;
    --el-color-info-light-9: #102c4e !important;
    --el-color-info: var(--g-text-color) !important;
  }

  .el-input {
    --el-border-color-hover: #6f8cd0 !important;
  }

  .el-select__popper.el-popper {
    --el-bg-color-overlay: #1d3c5f !important;
    --el-border-color-light: #6f8cd0 !important;
    --el-box-shadow-light: 0 0 12px rgb(255 255 255 / 10%) !important;

    .el-select-dropdown__item.is-hovering {
      --el-fill-color-light: rgb(255 255 255 / 10%) !important;
    }
  }

  .el-dialog {
    --el-dialog-bg-color: #102c4e !important;
  }


  .el-checkbox {
    --el-checkbox-input-border: 1px solid #e5f0ff !important;
  }

  .el-cascader {
    --el-cascader-tag-background: #102c4e !important;
    --el-color-info: var(--g-text-color) !important;
  }

  .el-cascader__dropdown {
    --el-bg-color-overlay: #1d3c5f !important;
  }

  .el-cascader-panel {
    --el-cascader-node-background-hover: rgb(255 255 255 / 10%) !important;
  }

  .el-picker-panel {
    --el-bg-color-overlay: #1d3c5f !important;
    --el-disabled-bg-color: rgb(255 255 255 / 10%) !important;
  }

  .el-date-editor {
    --el-input-border-color: #102c4e !important;
    --el-input-bg-color: #0b2341 !important;
    --el-text-color-placeholder: var(--placeholder-color) !important;
    --el-input-hover-border-color: #6f8cd0 !important;
  }

  .el-tree {
    --el-tree-node-hover-bg-color: rgb(255 255 255 / 10%) !important;
  }

  .el-message-box {
    --el-bg-color: #0b2341 !important;

    .el-button:nth-child(1) {
      background-color: #24446a !important;
    }
  }

  .el-date-range-picker {
    --el-datepicker-inrange-hover-bg-color: rgb(255 255 255 / 10%) !important;
    --el-datepicker-inrange-bg-color: rgb(255 255 255 / 10%) !important;
  }
}
