:root {
  --g-font-family: '苹方-简', 'Microsoft YaHei', '微软雅黑', helvetica, arial, sans-serif;
}

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --g-text-color: #142c65;
  --g-text-color-2: #191a1e;
  --g-text-color-3: #656873;
  --g-bg: #f6f8fa;
  --g-bg-2: #fff;
}

:root.dark {
  --g-text-color: #eceff8;
  --g-text-color-2: #eceff8;
  --g-text-color-3: #eceff8;
  --g-bg: #051932;
  --g-bg-2: #0b2341;
}
