:root {
  --g-font-family: '苹方-简', 'Microsoft YaHei', '微软雅黑', helvetica, arial, sans-serif;
  --g-text-color: #fff;
  --g-bg: #051932;
  --g-bg-2: #0b2341;
  --g-color: #006aff;
  --g-color-2: #183860;
  --g-color-3: #adbce1;
}
